[submodule "external/openssl-cmake"]
    path = external/openssl-cmake
    url = git@gitlab.alibaba-inc.com:quic/openssl-cmake.git
[submodule "third_party/boringssl"]
    path = third_party/boringssl
url=git@gitlab.alibaba-inc.com:quic/boringssl.git
[submodule "third_party/cunit"]
    path = third_party/cunit
    url = git@gitlab.alibaba-inc.com:quic/cunit.git
